<div id=navbar>
  <div id=shrinkbar><i id=toggle class="bi bi-list"></i></div>
  <div class=navcontent>
    <div class=navitems onclick="location.href='/#topbar';"><a style="text-decoration: none; color: inherit;">HOME</a>
    </div>
    <div class=navitems onclick="location.href='/#about';"><a style="text-decoration: none; color: inherit; ">ABOUT</a>
    </div>
    <div class=navitems onclick="location.href='/#committee';"><a
        style="text-decoration: none; color: inherit; ">COMMITTEE</a></div>
    <div class=navitems onclick="location.href='/#footer';"><a
        style="text-decoration: none; color: inherit;">CONTACT</a></div>
    <div class=navitems onclick="location.href='/#happenings';"><a
        style="text-decoration: none; color: inherit;">EVENTS</a></div>
    <div class=navitems onclick="location.href='/blogs';"><a style="text-decoration: none; color: inherit;">BLOGS</a>
    </div>
    <div class=navitems onclick="location.href='/member';"><a style="color: inherit; text-decoration: none;">MEMBERS</a>
    </div>
  </div>
  <div class=navcontent>
    <% if(userNow === "Nothing") { %>
      <div class=navitems onclick="location.href='/login';"><a
          style="color: inherit; text-decoration: none;">LOGIN/SIGNUP</a>
      </div>
    <% }else if(userNow=="Something"){ %>
      <div class="dropdown navitems">
        <div class="dropbtn" style="font-size:15px;"><%=currentUser.username%></div>
        <div class="dropdown-content">
          <a href="/userprofile">Fill Details</a>
          <a href="/logout">Log Out</a>
        </div>
      </div>
      <% } else { %>
        <div class="dropdown" style="display:flex; justify-content: center; align-items: flex-start; margin-right:20px;">
          <div style="height:50px; width:50px; border-radius:50%; overflow:hidden;"><img src="<%= userNow.images.length!=0 ? userNow.images[0].url : "/images/no-profile.png"%>" style="height:auto; width:100%;"></div>
          <div class="dropdown-content" style="margin-top: 55px;min-width: 300px;">
            <div style="display: flex; background-color: rgb(224, 222, 222);">
              <div style="height:60px; width:60px; padding:20px; border-radius:50%; overflow:hidden;"><img src="<%= userNow.images.length!=0 ? userNow.images[0].url : "/images/no-profile.png"%>" style="height:auto; width:100%;"></div>
              <div>
                <b><a href="/viewprofile/<%=currentUser.username%>" style=" margin-top:10px; height:10px !important; font-size: 15px;"><%=currentUser.username%></a></b>
                <a href="/viewprofile/<%=currentUser.email%>" style=" font-size: 12px;"><%=currentUser.email%></a>
              </div>
            </div>
            <a href="/viewprofile/<%=currentUser.email%>">View Profile</a>
            <a href="/editprofile/<%=currentUser.email %>">Edit Profile</a>
            <a href="/logout">Log Out</a>
          </div>
        </div>
        <% } %>
  </div>
</div>

