<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/topbar/topbar.css">
    <link rel="stylesheet" href="/viewblog/viewblog.css">
</head>

<body>
    <%- include('../partials/topbar') %>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand"><span style="font-family: 'Major Mono Display', monospace;">BLOGSCAPE</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Link
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Link</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div style="width:100%; display:flex; flex-direction: column; align-items: center;">
            <div class=ablog>
                <div class=likes>
                    <div>
                        <div style="width:40px; height:30px; text-align:center; margin-top: 40px;">
                            <%=blog.comments.length%>
                        </div>
                        <i class="bi bi-hand-thumbs-up-fill" style="font-size: 25px;"></i>
                    </div>
                </div>
                <div style="width:100%;">
                    <div class=contentcontainer>
                        <div class=username>
                            <span><span style="color:rgb(163, 162, 162);"><i class="bi bi-share-fill"></i> Posted by
                            </span>
                            <b><a href="/viewprofile" style="color: black;">/<%-blog.bloggerName.username%>
                                </a></b></span>
                                <span><button class="btn btn-secondary" onclick="location.href='/blogs/<%= corner%>/<%=blog._id%>/a'">Update your blog</button></span>
                        </div>
                        <div class="text">
                            <%-blog.blogText%>
                        </div>
                        <div class="text">
                            <%-blog.blogText%>
                        </div>
                    </div>
                    <div class=details>
                        <div><i class="bi bi-chat-fill"></i>
                            <%=blog.comments.length%> comments
                        </div>
                        <div><i class="bi bi-save2-fill"></i> save</div>
                    </div>
                </div>
            </div>
            <div id=commentsection>
                <h1>Comments</h1>
                <form method="post" id=forming>
                    <input type="text" name="blogger" style="display: none;" value="<%=blog._id%>">
                    <textarea name="comment" id="comment" style="width:100%; height:100px;" placeholder="write a comment..."></textarea>
                    <input type="submit" class="btn btn-danger" id="clicktocomment" style="float:right;"
                        value="Post comment">
                </form>
                <div style="width:100%; height:auto; margin-top:46px;">
                    <% for(let cum of blog.comments){ %>
                        <div class=comment>
                            <div class=commenthead><i class="bi bi-share-fill" style="margin-right: 6px;"></i><span style="margin-right: 5px;">comment by</span>
                                <b><span style=" color:rgb(0, 0, 0);"> /<%= cum.commentName.username %></span></b></div>
                            <div class=commentcont><%= cum.commentText %></div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <script>
            $(function () {
                $('#forming').on('submit', function (e) {
                    $.ajax({
                        type: 'post',
                        url: '/comment',
                        data: $('#forming').serialize(),
                        success: function () {
                            alert("Email has been sent!");
                        }
                    });
                    e.preventDefault();
                    setTimeout(()=>{
                        window.location.reload();
                    })
                });
            });
        </script>
</body>
</html>